body{
    background-color: #f9f7fe;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 120px auto;
    max-width: 600px;
}

header{
    margin-bottom: 30px;
}

h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #272044;
}

form{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 20px 60px rgb(65, 50, 100, 0.08);
    margin-bottom: 30px;
}

.instructions{
    padding: 16px;
    border: 1px solid rgb(39, 33,66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color:#272044;

}

.submit-button{
    margin-left: 10px;
    background-color: #885df1;
    border: none;
    color: white;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 12px 24px;
}

.idea{
    font-size: 14px;
    background-color: white;
    padding: 30px;
    line-height: 1.5;
}